extends layout.pug


block content
    for game in games
        h2: a(href=`/games/${game.id}`) #{game.title}
        p= game.description
        p= game.releaseDate
        img(src=game.imageURL, alt=`Cover Art for ${game.title}`)
