extends layout.pug

append head
    script(src="/javascripts/game-page.js" type="module")
    script(src="/javascripts/index.js" type="module")
    link(rel='stylesheet' href='/stylesheets/form.css')
    //- link(rel='stylesheet' href = '/stylesheets/index.css')
    link(rel='stylesheet' href='/stylesheets/game-page.css')

block content
    main
        .card.center.game-card
            div
                img(src=game.imageURL, alt=`Box art for ${game.title}`)
                form.get-shelves(action="/api/shelves", method="post")
                    input(type="hidden", name="gameId", value=game.id)
                    if locals.authenticated
                        button.btn.btn-primary(type="submit") add to my shelf
            div.inner-container
                div
                    h1.card-title= game.title
                div
                    h2.info At a Glance:
                    p= game.description
                div
                    p.date Published: #{game.date}
                    if (game.avg > 0)
                        p.rating Rating: #{game.avg}
                    else
                        p.rating Rating: No rating available
        h2 Reviews
        div.reviews
            for review in game.Reviews
                if (review.userId === userId)
                    .card.center(id = `card${review.id}`)
                        h4 #{review.User.username}
                        p= review.content
                        p Rating:  #{review.rating}
                        .review-buttons
                            a(href = `/reviews/${review.id}`)
                                button.btn.btn-primary(type: "button") Edit
                            button.btn.btn-warning.delete-button(type: "button" id = `${review.id}`) Delete
                else
                    .card.center
                        h4 #{review.User.username}
                        p= review.content
                        p Rating:  #{review.rating}

        .card.center
            form(action=`/api/games/${game.id}/reviews`, method="post" class="add-review")
                h2.card-title Add a review
                    input(type="hidden", value=game.id, name="gameId", id="gameId")
                .form-group
                    label(for="rating") Rating
                    select.form-control.center(name="rating", id="rating")
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                .form-group
                    .error.hidden
                        p The following error(s) occurred:
                        ul.error#errors
                    label.center(for="content") Review
                    textarea.text-control.text-review(name="content", id="content", cols="30", rows="10")

                    button.add-review.btn.btn-primary(type="submit") Submit
    include return-top.pug
    script(src="/javascripts/review-delete-button.js" type="module" defer)
