extends layout.pug

append head
    script(src="/javascripts/game-page.js" type="module")
    link(rel='stylesheet' href='/stylesheets/form.css')
    link(rel='stylesheet' href='/stylesheets/game-page.css')

block content

        .card.center.game-card
            img(src=game.imageURL, alt=`Box art for ${game.title}`)
            div.inner-container
                div
                    h1.card-title= game.title
                    h5 At a Glance:
                    p= game.description
                h5 Published:
                p= game.date
        h2 Reviews
        div.reviews
            for review in game.Reviews
                .card.center
                    h4 #{review.User.username}
                    p= review.content
                    p Rating:  #{review.rating}

        .card.center
            form(action=`/api/games/${game.id}/reviews`, method="post" class="add-review")
                h2.card-title Add a review
                    input(type="hidden", value=game.id, name="gameId", id="gameId")
                .form-group
                    label(for="rating") Rating
                    select.form-control.center(name="rating", id="rating")
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                .form-group
                    .error.hidden
                        p The following error(s) occurred:
                        ul.error#errors
                    label.center(for="content") Review
                    textarea.text-control.text-review(name="content", id="content", cols="30", rows="10")

                    button.add-review.btn.btn-primary(type="submit") Submit
