extends layout.pug

append head
    link(rel='stylesheet' href = '/stylesheets/games.css')
    link(rel='stylesheet' href = '/stylesheets/index.css')
    script(src="/javascripts/index.js" type="module")

block content
    main
        for game in games
            div.card.game-card
                .right-side
                    h2: a(href=`/games/${game.id}`) #{game.title}
                    a(href=`/games/${game.id}`): img.game-img(src=game.imageURL, alt=`Cover Art for ${game.title}`)
                    form.get-shelves(action="/api/shelves", method="post")
                        input(type="hidden", name="gameId", value=game.id)
                        if locals.authenticated
                            button.btn.btn-primary(type="submit") add to my shelf
                .left-side
                    h6 At a Glance:
                    p= game.description
                    h6 Published:
                    p= game.date
                    if (game.avg > 0)
                        h5 Rating: #{game.avg}
                    else
                        h5 Rating: No rating available
    include return-top.pug
