extends layout

append head
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src="/javascripts/index.js" type="module")

block content
    h1= title
    each game in games
        .card.center
            img(src=game.imageURL, alt=`Box art for ${game.title}`)
            div.inner-container
                h2.card-title= game.title
                p= game.description
                form.get-shelves(action="/api/shelves", method="post")
                    input(type="hidden", name="gameId", value=game.id)
                    button.btn.btn-primary(type="submit") add to my shelf
