extends layout.pug

append head
   link(rel="stylesheet" href="stylesheets/review.css")

block content
   main
      div(id="reviews-container")
         each review in reviews
            .card
               h2.card-title #{review.Game.title}
               a.card-sub-title(href= `/games/${review.Game.id}`) See Game Details
               h6.rating=`Your Rating: ${review.rating}`
               h6.content-header You Said:
               p.review-content #{review.content}
               .review-buttons
                  a(href = `/reviews/${review.id}`)
                     button.btn.btn-primary(type: "button") Edit
                  button.btn.btn-warning.delete-button(type: "button") Delete
      div(id="scroll-top")
         a(href= "#top") return to top
               //- a(href= `/games/${review.Game.id}`)= review.Game.title
   script(src="/javascripts/review-delete-button.js" type="module" defer)
