extends layout.pug

append head
    link(rel='stylesheet' href = '/stylesheets/games.css')
    link(rel='stylesheet' href = '/stylesheets/index.css')
    link(rel='stylesheet' href = '/stylesheets/search.css')
    script(src="/javascripts/index.js" type="module")

block content
    main
        if (games.length > 0)
            h1.search-msg= `Games that match "${term}"`
            for game in games
                div.card.game-card
                    .right-side
                        h2: a(href=`/games/${game.id}`) #{game.title}
                        img.game-img(src=game.imageURL, alt=`Cover Art for ${game.title}`)
                        form.get-shelves(action="/api/shelves", method="post")
                            input(type="hidden", name="gameId", value=game.id)
                            button.btn.btn-primary(type="submit") add to my shelf
                    .left-side
                        h6 At a Glance:
                        p= game.description
                        h6 Published:
                        p= game.releaseDate
                        h5 Rating: #{game.avg}
        else
            h1.search-msg= `No games found that match "${term}"`
            a(href = '/') Find a game you'll Love?
